/* Painting.css*/
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-y: auto;
  position: relative;
}

.painting-page {
  padding: 20px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box; /* Add this to include padding in width calculation */
}

.title {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #660033;
  font-size: 36px; 
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 20px;
  width: 100%;
}

.description {
  font-size: 18px; /* Changed to rem for better scaling */
  margin-bottom: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px; /* Add padding for smaller screens */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.card {
  width: 100%; /* Changed to percentage */
  max-width: 200px; /* Added max-width */
  height: 300px;
  perspective: 1000px;
  margin: 0 auto;
}

.card-inner {
  position: relative;
  width: 100%; /* Changed to percentage */
  max-width: 200px; /* Added max-width */
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-front, .card-back {
  position: absolute;
  width: 100%; /* Changed to percentage */
  max-width: 200px; /* Added max-width */
  height: 300px;
  backface-visibility: hidden;
  overflow: hidden;
}

.card-front img {
  width: 100%; /* Changed to percentage */
  height: 100%; /* Changed to percentage */
  object-fit: cover;
  background-color: white;
}

.card-back {
  background-color: #182e3c;
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  .gallery {
      grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
  }
}

@media (max-width: 810px) {
  .gallery {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }
}

@media (max-width: 590px) {
  .painting-page {
      margin-top: 130px; /* Adjust margin for smaller screens */
  }
  .gallery {
      grid-template-columns: 1fr; /* 1 column on very small screens */
      align-items: center;
      justify-content: center;
      padding: 20px ;
  }
}